### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/buildSrc/build/

/server-ktor/build/
/server-ktor/server-ktor-app/build/
/server-ktor/server-ktor-domain/build/
/shared-lib/build/

/client-js/build/

### IntelliJ IDEA ###
.idea
/out/
