### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/buildSrc/build/

/server-ktor/build/
/server-ktor/server-ktor-api/build/
/server-ktor/server-ktor-app/build/

/client-js/build/

### IntelliJ IDEA ###
.idea
/out/
